In [1]:
import pandas as pd
import numpy as np

In [2]:
email = ('Ashish@gmail.com' )

In [3]:
email.split("@")

['Ashish', 'gmail.com']

In [4]:
name = pd.Series(['Ashish','Vasu','Vani',"5"])

In [5]:
(name)

0    Ashish
1      Vasu
2      Vani
3         5
dtype: object

In [6]:
name.str.upper()

0    ASHISH
1      VASU
2      VANI
3         5
dtype: object

In [7]:
name.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [8]:
name[name.str.isdigit()]

3    5
dtype: object

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [10]:
len(tech_finance)

2

In [11]:
tf = pd.Series(tech_finance)

In [12]:
tf

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [13]:
t = tf.str.split(",",expand=True)

In [14]:
t

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [15]:
type(t)

pandas.core.frame.DataFrame

In [16]:
t.iloc[0][1]

'APPL'

In [17]:
t[1].iloc[0]

'APPL'

In [18]:
messy_names = pd.Series(["andrew  ","bo;bo","   claire  "])

In [19]:
messy_names

0       andrew
1          bo;bo
2       claire
dtype: object

In [20]:
messy_names.str.replace(';',"").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [21]:
def cleanup(name):
    name = name.replace(";",'')
    name = name.strip()
    name = name.capitalize()
    return name

In [22]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [23]:
from datetime import datetime

In [24]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [25]:
datetime(my_year,my_month,my_day)

datetime.datetime(2017, 1, 2, 0, 0)

In [26]:
my_date = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [27]:
my_date.year

2017

In [28]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [37]:
myser
pd.to_datetime(myser,format='mixed')

0   2000-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [30]:
obvi_euro_date = "31-12-2000"

In [31]:
pd.to_datetime(obvi_euro_date)

/tmp/ipykernel_4496/163700324.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [33]:
euro_date = "10-12-2000"
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [40]:
style_date = "31---Dec---2000"

In [41]:
pd.to_datetime(style_date,format='%d---%b---%Y')

Timestamp('2000-12-31 00:00:00')

In [42]:
custom_date = "12th dec 2000"
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [43]:
sales = pd.read_csv("../DATA/RetailSales_BeerWineLiquor.csv")

In [44]:
sales.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [45]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [50]:
sales["DATE"][0].year

1992

In [51]:
sales = pd.read_csv("../DATA/RetailSales_BeerWineLiquor.csv",parse_dates=[0])

In [52]:
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [53]:
sales.set_index("DATE", inplace=True)

In [54]:
sales.head()

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822

In [56]:
sales.resample(rule='A').mean()

/tmp/ipykernel_4496/229365907.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [59]:
sales1 = pd.read_csv("../DATA/RetailSales_BeerWineLiquor.csv",parse_dates=[0])
sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [60]:
sales1["DATE"].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int32