In [68]:
import pandas as pd
import numpy as np
from pyarrow.lib import pyarrow_wrap_data_type

ImportError: cannot import name 'pyarrow_wrap_data_type' from 'pyarrow.lib' (/home/ashish/PycharmProjects/learning-logs/.venv/lib/python3.12/site-packages/pyarrow/lib.cpython-312-x86_64-linux-gnu.so)

In [ ]:
pwd

In [ ]:
ls

In [ ]:
ls ~/PycharmProjects/learning-logs/Data_Science/DATA

In [ ]:
df = pd.read_csv("../DATA/example.csv")

In [ ]:
df

In [ ]:
df.to_csv("example.csv",index=False)

In [ ]:
tables = pd.read_html('../DATA/world.html')

In [ ]:
df = pd.read_excel("../DATA/my_excel_file.xlsx")

In [ ]:
df

In [ ]:
wb = pd.ExcelFile("../DATA/my_excel_file.xlsx")

In [ ]:
wb.sheet_names

In [ ]:
df_dic = pd.read_excel("../DATA/my_excel_file.xlsx",sheet_name=None)

In [ ]:
df_dic.keys()

In [ ]:
df_dic["First_Sheet"]

In [69]:
df.to_excel("my.xlsx",index=False)

In [70]:
from sqlalchemy import create_engine

In [71]:
temp_db = create_engine("sqlite:///:memory:")

In [72]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [73]:
df.to_sql(name='new_table',con=temp_db)

4

In [74]:
new_df = pd.read_sql(sql='new_table',con=temp_db)

In [75]:
new_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

In [76]:
pd.read_sql_query(sql="SELECT a,c FROM new_table",con=temp_db)

    a   c
0   0   2
1   4   6
2   8  10
3  12  14