In [1]:
import pandas as pd
import numpy as np

In [2]:
email = ('Ashish@gmail.com' )

In [3]:
email.split("@")

['Ashish', 'gmail.com']

In [4]:
name = pd.Series(['Ashish','Vasu','Vani',"5"])

In [5]:
(name)

0    Ashish
1      Vasu
2      Vani
3         5
dtype: object

In [6]:
name.str.upper()

0    ASHISH
1      VASU
2      VANI
3         5
dtype: object

In [7]:
name.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [8]:
name[name.str.isdigit()]

3    5
dtype: object

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [10]:
len(tech_finance)

2

In [11]:
tf = pd.Series(tech_finance)

In [12]:
tf

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [13]:
t = tf.str.split(",",expand=True)

In [14]:
t

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [15]:
type(t)

pandas.core.frame.DataFrame

In [16]:
t.iloc[0][1]

'APPL'

In [17]:
t[1].iloc[0]

'APPL'

In [18]:
messy_names = pd.Series(["andrew  ","bo;bo","   claire  "])

In [19]:
messy_names

0       andrew
1          bo;bo
2       claire
dtype: object

In [20]:
messy_names.str.replace(';',"").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [21]:
def cleanup(name):
    name = name.replace(";",'')
    name = name.strip()
    name = name.capitalize()
    return name

In [22]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [23]:
from datetime import datetime

In [24]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [27]:
datetime(my_year,my_month,my_day)

datetime.datetime(2017, 1, 2, 0, 0)

In [30]:
my_date = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [31]:
my_date.year

2017

In [33]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [34]:
myser

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object